table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

thead {
    border: black;
    border-style: solid;
}

td {
    margin-left: 20%;
    margin-right: 20%;
}

.remove {
    border-radius: 10px;
}

td > .remove {
    border-radius: 10px;
}